/* ====Hero==== */



/*=== Mobile styles ===*/
.hero {
  color: var(--main-background-color);
  background-color: var(--hero-background-color);
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;
  
  &__title {
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30px;
  }
  &__title-right {
    color: var(--main-background-color);
  }

  &__image {
    width: 100%;
    max-width: 760px;
    min-height: 400px;

    margin-left: auto;
    margin-right: auto;

    background-color: var(--hero-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 51, 0.3), rgba(47, 48, 58, 0.3)),
     url(../../img/hero/hero-img-mobile.jpg);
    background-size: cover;
    background-position: center;
    }
  } 

            /*===== Hero-image@2x for mobile*/
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
      screen and (min-resolution: 192dpi) and (min-width: 320px),
      screen and (min-resolution: 2dppx)  and (min-width: 320px){
    .hero__image {
      background-image: linear-gradient(to right, rgba(47, 48, 51, 0.3), rgba(47, 48, 58, 0.3)),
      url(../../img/hero/hero-img-mobile@2x.jpg);
    }
  }

  /*===== Styles and Hero-image for tablet ====*/
  @media screen and (min-width: 768px) {
    .hero {
        margin-bottom: 60px;
    }

    .hero__image {
      max-width: 1200px;
      background-image: linear-gradient(to right, rgba(47, 48, 51, 0.3), rgba(47, 48, 58, 0.3)),
       url(../../img/hero/hero-img-tablet.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px),
      screen and (min-resolution: 2dppx)  and (min-width: 768px){
    .hero__image {
      background-image:linear-gradient(to right, rgba(47, 48, 51, 0.3), rgba(47, 48, 58, 0.3)),
       url(../../img/hero/hero-img-tablet@2x.jpg);
    }
  }

  /*===== Hero-image for desktop ====*/
  @media screen and (min-width: 1200px) {
    .hero {
      color: var(--main-background-color);
      background-color: var(--hero-background-color);
      text-align: center;
    
      margin-bottom: 0;
      padding-top: 200px;
      padding-bottom: 200px;
    
      &__title {
        font-size: 50px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        margin-top: 0;
        margin-bottom: 30px;
      }
    
      &__image {
        max-width: 1600px;
        min-height: 600px;

        margin-left: auto;
        margin-right: auto;
        
        background-color: var(--hero-background-color);
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.3)),
         url(../../img/hero/hero-img-desktop.jpg);
        background-size: cover;
        background-position: center;
      }
    } 
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px),
      screen and (min-resolution: 2dppx)  and (min-width: 1200px){
    .hero__image {
      background-image:linear-gradient(to right, rgba(47, 48, 51, 0.5), rgba(47, 48, 58, 0.5)),
       url(../../img/hero/hero-img-desktop@2x.jpg);
    }
  }
/* ====End hero=== */