        /* ==== Filter buttons ===== */

@media screen and (max-width: 1199px) {
  .filters {
    padding-top: 60px;
    padding-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    .filters {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  .filter-buttons {
    display: flex;
    justify-content: center;
    font-family: inherit;
    
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  & .filter-name{
    color: var(--primary-text-color);
    background-color: #F5F4FA;
  
    transition: color var(--transition-delay-var) var(--timing-func), 
    background-color var(--transition-delay-var) var(--timing-func) ,
    box-shadow var(--transition-delay-var) var(--timing-func);
  }
  & .filter-name:hover,
  & .filter-name:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 25px;
  &__item {
     margin-bottom: 15px;
    }
  }
  @media screen and (min-width:768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

 .filter-name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  border: 0;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  }


