           
           /* === Mobile menu ==== */

@media screen and (max-width: 767px) {
  .burger-btn,
  .mobile-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    }

  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .burger-icon,
  .mobile-close-icon {
    width: 40px;
    height: 40px;
  }

  .burger-icon:hover,
  .burger-icon:focus {
    fill: var(--accent-color);
  }
  
  .mobile-close-icon:hover,
  .mobile-close-icon:focus {
    fill: var(--accent-color);
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    position: absolute;
    z-index: 1;
    width: 95%; 
    max-width: 480px;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    transition: transform 500ms linear;
    padding: 48px 40px;
    
    background-color: var(--main-background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    
    &__item {
      position: relative;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &.is-open {
      transform: translateX(-50%) translateY(0%);
    }
    
    &__link {
      color: var(--primary-text-color);
      font-weight: 500;
      font-size: 40px;
      line-height: 1.175;
      text-align: center;
      letter-spacing: 0.02em;
    
      padding-top: 20px;
      padding-bottom: 20px; 
    
      &.current,
      &:hover,
      &:focus {
        color: var(--accent-color);
        }
      }
    }

  .mobile-menu-contacts {
    margin-bottom: 48px;

    &__item {
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    &__link {
      font-size: 24px;
    }
    
    &__phone {
      font-size: 34px;
    }
    
    &__link,
    &__phone {
      color: var(--secondary-text-color);
      font-weight: 500;
      letter-spacing: 0.02em;
      line-height: 1.17;
  
      transition: color var(--transition-delay-var) var(--timing-func);
  
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
   }
    
  .mobile-menu-social-links {
     position: relative;
     display: flex;

     &__item {
       position: relative;
    
       &:not(:last-child) {
        margin-right: 20px;
       }
     }
    
        &__item:not(:last-child)::after {
        position: absolute;
        right: 0;
        bottom: 10px;
      
        content: " ";
        display: block;
        width: 22px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: translateX(100%) translateY(0) rotate(90deg);
      }
     
      &__link {
        color: var(--accent-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
      }
    }
}

         /*=== Tablet style ===*/
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}